<div class="footer-content">
  <div class="title-content">
    <h1>Entre em contato conosco</h1>

    <div class="contato-direto">

      <div class="mail">
        <p><i class='fa fa-envelope mr-2'></i>francaislegalzinho&#64;gmail.com</p>
      </div>
      <div class="whats-eu">
        <p><i class="fa fa-whatsapp mr-2"></i> 21 97214-1165</p>
      </div>
      <div class="whats-jac">
        <p><i class="fa fa-whatsapp mr-2"></i> 21 97179-6510</p>
      </div>
      <div class="whats-fob">
        <p><i class="fa fa-whatsapp mr-2"></i> 21 99814-7701</p>
      </div>
    </div>

    <div class="redes_icons_container">

      <p>Visite nossas redes sociais:</p>

      <div class="redes_icons">
        <a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
      <div class="redes_icons">
        <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</div>
