<div class="title-content">
  <h1>Nossa equipe</h1>
</div>
<div class="container-card">
  <div class="card">
    <img src="../../assets/Handy.jpg"/>
    <div class="card-body">
      <p class="card-text">Handy Milliance</p>
      <p class="card-text">
        Professor de Francês
      </p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/faubert.jpg"/>
    <div class="card-body">
      <p class="card-text">Faubert Alcindor</p>
      <p class="card-text">
        Professor de Francês
      </p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/jack.jpg"/>
    <div class="card-body">
      <p class="card-text">Jackenson Mathieu</p>
      <p class="card-text">
        Professor de Francês
      </p>
    </div>
  </div>
</div>


<!--<div class="title-content">
  <h1>O que ensinamos?</h1>
</div>
<div class="container-card">
  <div class="card">
    <img src="../../assets/basico.jpg"/>
    <div class="card-body">
      <p class="card-text">Noções básicas</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/frases.jpg"/>
    <div class="card-body">
      <p class="card-text">Aprenda a construir uma frase</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/conversar.jpg"/>
    <div class="card-body">
      <p class="card-text">Aprenda a manter uma conversação</p>
    </div>
  </div>
</div>-->
